@{
	ViewData["Title"] = "Belfast 5 Day Forecast";
}

@section HeadScripts {
	<script>
		const Url_FiveDayForecast = "@Url.Action("FiveDayForecast", "Forecast")";
	</script>

	<script type="module" src="~/js/ForecastIndex.js"></script>
}

<h1>5 Day Forecast for Belfast</h1>

<div id="forecast-wrapper">
	@await Component.InvokeAsync("FiveDayForecast")
</div>

<button type="button" id="reload" class="btn btn-outline-primary">reload</button>

<div class="loader-full-screen" id="loader"><span>Loading...</span></div>